.navBar {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: hsla(0, 0%, 100%, 1);
  background: radial-gradient(
    circle,
    hsla(0, 0%, 100%, 1) 0%,
    hsla(207, 94%, 27%, 1) 70%
  );

  background: -moz-radial-gradient(
    circle,
    hsla(0, 0%, 100%, 1) 0%,
    hsla(207, 94%, 27%, 1) 70%
  );

  background: -webkit-radial-gradient(
    circle,
    hsla(0, 0%, 100%, 1) 0%,
    hsla(207, 94%, 27%, 1) 70%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFFFFF", endColorstr="#044B87", GradientType=1 );
  box-shadow: 4px 2px 5px gray;
  color: white;
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
}

.navBar button {
  background: transparent;
  border: 2px solid white;
  color: white;
  /* position: absolute;
  right: 40px;
  top: 25px; */
}

.navBar button:hover {
  background: white;
  color: #044b87;
  cursor: pointer;
}

/* .navBar img {
  position: absolute;
  right: 720px;
  top: 7px;
} */

.navBar b {
  font-size: 22px;
  color: white;
}
