@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "IBM Plex Serif", serif;
}

html {
  box-sizing: border-box;
}

p {
  font-size: 20px;
}

h4 {
  color: hsl(207deg 6.18% 40.05%);
}

button {
  background-color: transparent;
  border: 2px solid #044b87;
  color: #044b87;
  font-size: 1rem;
  font-family: inherit;
  max-width: 100px;
  padding: 0.5rem 0.5rem;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: #044b87;
}

.delete-button {
  max-width: 75px;
  padding: 5px;
  font-size: 15px;
  border-radius: 15px;
}

.modal-open-button {
  max-width: 75px;
  padding: 5px;
  font-size: 15px;
  border-radius: 15px;
}

.modal-open-button-large {
  max-width: 300px;
  padding: 5px;
  font-size: 30px;
  border-radius: 15px;
}

.modal-close-button {
  float: right;
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.container {
  /* margin: 0 auto; */
  max-width: 600px;
  overflow: auto;
  /* text-align: left; */
  padding: 1.5rem 2rem;
}
.login-container {
  margin: 0 auto;
  overflow: auto;
  padding: 1.5rem 2rem;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.form input {
  display: block;
  width: 100%;
  height: 25px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  color: hsl(207, 92%, 10%) !important;
}

.form label {
  color: hsl(207, 92%, 10%);
}
